.vscode
*.o
*.exe
bubble
insert
heap
merge
test
benchmark
quick
count
radix
bubble_lto
insert_lto
heap_lto
merge_lto
test_lto
benchmark_lto
quick_lto
count_lto
radix_lto
bubble_d
insert_d
heap_d
merge_d
test_d
benchmark_d
quick_d
count_d
radix_d
